* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

span {
    color: var(--Dark-gray-blue);
}
body {
    font-size: 16px;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: rgb(0, 0, 0);
}
.blur-in {  animation:blur-in 0.9s linear both}
@keyframes blur-in {
    0% {
        filter:blur(12px);
        opacity:0}
    100% {
        filter:blur(0);
        opacity:1}
}

.container {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 89vh;
}

.main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 89vh;
    // padding: 4em 0 0;
    // gap: 2em;


    &__left {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;

        height: 50%;
        width: 100%;
        

        img {
            height: 12em;
            margin: 1em 0 0;
        }
        h2 {
            font-family: 'Merriweather', serif;
            font-size: 2.9em;
            color: white;
        }
    }


    &__right {
        display: flex;
        flex-direction: column;
        
        height: 50%;
        // width: 70%;
        width: 20em;
        padding: 1em 0;

        &__h3 {
            font-size: 1.2em;
            color: white;
            text-align: center;
            margin-bottom: 2em;
        }
        &__data {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: .5em;

            form {
                display: flex;
                flex-direction: column;
            }
            
            label {
                margin-bottom: .5em;
                font-size: 1em;
                color: white;
            }
            
            input[type="text"],
            input[type="number"],
            input[type="email"],
            input[type="password"],
            input[type="submit"] {
                padding: 8px;
                margin-bottom: .5em;
                border-radius: 3px;
                border: 1px solid #a0a0a0;
                font-size: 1em;
                background-color: #ffffff;
            }
            
            input[type="submit"] {
                background-color: black;
                color: white;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin-bottom: 0;
                margin-top: .5em;
                font-size: 1em;
                border-radius: 3px;
            }
            
            input[type="submit"]:hover {
                background-color: rgb(63, 63, 63);
                border-color: rgb(63, 63, 63);
            }
        }                        
    }    
}



// @media only screen and (min-width: 501px) {
//     .main {
//         width: 30em;
//         margin: auto;
//     }
// }

// @media only screen and (min-width: 1050px) {
//     .main {
//         .header {
//             width: 75%;
//         }
//         .information {
//             width: 80%;
//         }
//     }

// }
// @media only screen and (min-width: 1420px) {
//     .main {
//         .header {
//             width: 53%;
//             padding: .5em 0;

//             &__container {
        
//                 &__menu-icon {
//                     display: none;
                    
//                 }
        
//                 &__logo {
//                     img {
//                         height: 2.6em;
//                     }
//                     h1 {
//                         font-size: 1.2em;
//                     }
//                 }
        
//                 &__nav {
//                     display: flex;
//                     flex-flow: row wrap;

//                     ul {
//                         display: flex;
//                         gap: 2em;
//                         align-items: flex-end;
                        
//                         a {
//                             color: white;
//                             cursor: pointer;
//                             font-size: .9em;
//                         }
//                     }
//                 }
        
//                 &__profile {
//                     display: none;
//                 }
        
//                 &__menu-despegable {
//                     display: flex;
//                     flex-flow: column wrap;
//                     justify-content: flex-start;
        
//                     position: absolute;
//                     top: 0;
//                     left: 0;
//                     width: 100%;
//                     height: 100%;
//                     padding: .5em 0;
//                     z-index: 9999;
        
//                     background-color: rgb(0, 0, 0);
        
        
//                     transform: translate(-100%);
//                     transition: all ease-in-out .3s;
        
//                     button {
//                         border-color: transparent;
//                         // background-color: rgb(41, 41, 41);}
//                         background-color: transparent;
//                         height: 3em;
//                         width: 4.5em;
//                         // font-size: .7em;
//                         color: white;
        
//                         i {font-size: 1.5em;}
//                     }
        
//                     ul {
//                         display: flex;
//                         flex-flow: column wrap;
//                         gap: 1em;
//                         margin: 2em 0 0 2.8em;
                        
//                         a{
//                             font-size: 1.3em;
//                             color: white;
//                         }
//                     }
//                 }
//             }
//         }


//         .information {
//             width: 60%;
//         }
//     }
// }
// @media only screen and (min-width: 1540px) {
//     .main {
//         width: auto;
//     }
// }