* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  background-color: rgb(0, 0, 0);
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 16px;
}


/* GENERAL STYLES */
ul {  list-style: none;}
a { text-decoration: none;  color: white;  font-size: 0.9em;}
.blur-in {  animation:blur-in 0.9s linear both}
.faster-blur-in {  animation:blur-in 0.5s linear both}



/* MAIN */
.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 1200px;

    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(15em);
}

.header__container {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}


/* WEBTOP */

/* MOBILE-MENU-ICON */
.header__container__menu-icon {
  display: none;
}

  /* LOGO */
.header__container__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
} 
  .header__container .logo__img {
    height: 4em;
  } 
  .header__container .logo__letters {
    font-family: 'Merriweather', serif;
    color: white;
  }

/* MENU-DESKTOP */
.header__container__nav {
  display: flex;
}
  .header__container__nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
  } 
    .header__container__nav ul a {
        text-decoration: underline;
        text-underline-offset: .8em;
        text-decoration-thickness: .1em;
        text-decoration-color: transparent;

        transition: all ease .5s;
    }
      .header__container__nav ul a:hover {
        text-underline-offset: .3em;
        text-decoration-color: rgba(255, 255, 255, 0.466);
      }

    .header__container__nav ul a.user__name-a {
      text-decoration: none;
      margin-left: 1.8em;
    }
      .header__container__nav ul a li {
                margin: 0 1em;
      } 
      .header__container__nav ul a li.user__name {
      display: flex;
      flex-direction: row;
      align-items: center;
      }  
        .header__container__nav ul a li i {
          font-size: 2em;
          padding-right: .3em;
        }
  

/* MOBILE-PROFILE-ICON */

.header__container__profile, .header__container__menu-despegable {
  display: none;
}








                    /* MOBILE DISPLAY */
@media (max-width: 576px) {
  
  .header {
    padding: 0em;
    width: 100%;
  
    color: white;
  }

  .header__container__menu-icon {
    display: block;
    background-color: transparent;
    border-color: transparent;
    width: 3em;
    height: 3em;
    font-size: 1em;
    color: white;
  } 
    .header__container__menu-icon i {
      font-size: 1.1em;
    }
    


  .header__container__logo {
      display: flex;
  }
    .header__container .logo__img {
      height: 2em;
    } 
    .header__container .logo__letters {
      font-size: 1.3em;
    }


  .header__container__profile {
      display: block;
      background-color: transparent;
      border-color: transparent;
      width: 3em;
      height: 3em;
      font-size: 1em;
      color: white;
  } .header__container__profile i{
      font-size: 1.4em;
    }

    

    
  .header__container__nav {
    display: none;
  }

  .header__container__nav-mobile {
    display: none;
  }


  .header__container__menu-despegable {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    top: 0em;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0em;

    background-color: rgba(7, 7, 7, 0.995);

    transform: translate(-100em);
    transition: all ease-in-out .3s;
  }
    
    .header__container__menu-despegable-button {
      display: block;
      background-color: transparent;
      border-color: transparent;
      width: 3em;
      height: 3em;
      font-size: 1em;
      color: white;
    }
      .header__container__menu-despegable-icon i {
        font-size: 1.1em;
      }
    .header__container__menu-despegable ul {
      margin: 0.5em 0;
      padding: 0 2em;
      height: 18vh;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1.5em;
    }
      .header__container__menu-despegable ul li {
        font-size: .9em;
      }

}

@media (min-width: 768px) {  }

@media (min-width: 992px) {  }

@media (min-width: 1200px) { }

@media (min-width: 1400px) {}

@keyframes blur-in {
  0% {
    filter:blur(12px);
    opacity:0}
  100% {
    filter:blur(0);
    opacity:1}
}
@keyframes faster-blur-in {
  0% {
    filter:blur(12px);
    opacity:0}
  100% {
    filter:blur(0);
    opacity:1}
}