.ac-accessCard { 
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .9rem;
  justify-content: space-between;
}


.ac-accessCard-header {
  display: flex;
  align-items: center;
  /* gap: 4trpx */
}

.ac-accessCard-avatar {
  width: 45px;
  height: 45px;
  border-radius: 1000px;
  background-color: #bbb;  
}


.ac-accessCard-info {
  display: flex;
  flex-direction: column;
  gap: 0em;
  /* max-width: 80%}; */
  background-color: rgb(205, 221, 216);
  width: 100%;
}

.ac-accessCard-info p {
  font-size: 1.1em;
  padding: 0 0 0 .2em;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.ac-accessCard-UserCode {
  color: #908e8e;
  padding: 0 0 0 .3em;
  font-size: 1.1em;
  letter-spacing: 1px;
}
.ac-accessCard-UserInfo {
  color: #908e8e;
  padding: 0 0 0 1em;
  font-size: 1em;
  letter-spacing: 1px;
}


.ac-accessCard-aside {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: .4em;
}
.ac-accessCard-time {
  color: #908e8e;
  font-size: 1em;
}
.ac-accessCard-ubi {
  color: green;
  width: 1.5em;
}