article.ac-accessCard { 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: .9rem;
  width: 100%;
  height: 2.6em;
  /* background-color: blueviolet; */
}


header.ac-accessCard-header {
  display: flex;
  align-items: center;
  /* gap: 4trpx */
  /* background-color: rgb(219, 197, 0); */
  width: 10%;
  height: 100%;
}
img.ac-accessCard-avatar {
  width: 2.5em;
  height: 2.5em;
  border-radius: 1000px;
  background-color: #bbb;  
}




div.ac-accessCard-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0em;
  /* background-color: rgb(56, 160, 127); */
  width: 80%;
  height: 100%;
  padding: 0 .2em;
}
.ac-accessCard-info p {
  font-size: 1.1em;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}
.ac-accessCard-UserCode {
  color: #908e8e;
  font-size: 1.1em;
  letter-spacing: 1px;
}
.ac-accessCard-UserInfo {
  color: #908e8e;
  padding: 0 0 0 1em;
  font-size: 1em;
  letter-spacing: 1px;
}



aside.ac-accessCard-aside {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: .1em;
  /* background-color: bisque; */
  width: 10%;
  height: 100%;
}
span.ac-accessCard-time {
  color: #908e8e;
  font-size: 1em;
}
img.ac-accessCard-ubi {
  width: 1.1em;
}