:root {
  --Background-black: hsl(0, 0%, 0%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--Background-black);
  color: white;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 16px;
}


.container {
  background-color: var(--Pale-blue);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  background-color: rgb(0, 0, 0);
  border-radius: 1em;
  padding: 1em 1em 7em 1em;
  margin: auto;
}

.blur-in {
  animation:blur-in 0.9s linear both
}
/*                  VERSION MOBILE       */

/*           LOGO          */


.main-logo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.main-back-button {
  display: flex;
  background-color: transparent;
  border-color: transparent;
  align-self: left;

  width: 3em;
  height: 3em;
  font-size: 1em;
  color: white;
}

.main-back-button i{
  padding-right: .5em;
}
.main-back-button span {
  font-size: .9em;
}
.main-logo img {
  height: 13em;
  margin: 0em auto auto;
  align-items: center;

  transition: all 0.5s ease-in;
}

.main-logo h1 {
  font-size: 2.6em;
  font-family: 'Merriweather', serif;
  text-align: center;
  transition: all 0.5s ease-in;
}


/* MAIN DATA */
.main-data {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.main-data p {
display: none;
}

/*    CHECKING       */
.main-checking button {
  font-size: .9em;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
.msg-lector {
  display: none;
}



@keyframes blur-in {
  0% {
      filter:blur(12px);
      opacity:0}
  100% {
      filter:blur(0);
      opacity:1}
}


.spinner {
  display: none;
  border: 2px solid rgb(31, 31, 31);
  border-radius: 50%;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  width: 30px;
  height: 30px;

  animation: spin 1s linear infinite;
}


.check {
  font-size: 2em;
  color: rgb(81, 255, 81);
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 576px) {
  .main {
    align-items: flex-start;
    width: 100%;
  
    background-color: rgb(0, 0, 0);
    border-radius: 1em;
    padding: 1em 1em 7em 1em;
  }
}